<div  class="header bg-gradient-danger pb-8 pt-5 pt-md-8"><div  class="container-fluid"><div  class="header-body"></div></div></div>
<div class="container-fluid mt--7">
  <div class="row mt--5">

    <div class="header-body">
      <!-- Card stats -->


      <div class="add-account">
        <div class="add-account-inner">
          <div class="acc-top-con">
            <div class="acc-img">
              <img src="../../../assets/1200px-Amazon_Web_Services_Logo.png" alt="" class="img-fluid">
            </div>

            <h1 class="add-heading">
              Connect Your Account
            </h1>
            <br>
            <div class="progress-bar"></div>
            <p class="add-p">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, molestias.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, molestias.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, molestias.

            </p>
          </div>
          <div class="acc-bot-btn">
            <a href="" class="btn btn-add" routerLinkActive="active" [routerLink]="['/dashboard']">Go to Dashboard</a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


